footer {
    background: $secondary-color;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 5px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10;
    font-family: $nunito;
}
