/* MANY ATTEMPTS OT MAKE MY WEBSITE RESPONSIVE -- ALL FAILED
Landscape phones and down
@media (max-width: 480px) {
    main {
        float: left;
        width: 100%;
    }

    aside {
        float: left;
        width: 50%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Landscape phone to portrait tablet
@media (max-width: 767px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Large desktop
@media (min-width: 1200px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Small devices (tablets, 768px and up)
@media (min-width: 768px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
}

/* Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    main {
        float: left;
        width: 75%;
    }

    aside {
        float: left;
        width: 100%;
    }

    footer {
        width: 100%;
        position: relative;
        right: 0;
        left: 0;
        bottom: 10;
        justify-content: center;
    }
} */

/* ----------- iPhone 4 and 4S -----------

/* Portrait and Landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {

    main {
        width: 100%;
        margin-left: 20px;
    }

    main h2 {
        font-size: 100%;
    }

    aside {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

/* Portrait
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 -----------

/* Portrait and Landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ -----------

/* Portrait and Landscape
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

} */
