// Social Media Icons
.sticky-container {
    padding: 1px;
    margin: 1px;
    position: fixed;
    right: -130px;
    top: 230px;
    width: 210px;
    z-index: 1100;
}

/* ANOTHER EXAMPLE OF NESTING AS PER RUBRIC REQUIREMENTS */
.sticky {

    li {
        list-style-type: none;
        height: 43px;
        padding: 1px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
    }

    li:hover {
        margin-left: -5px;
    }

    li img {
        float: left;
        margin: 5px 4px;
        margin-right: 5px;
    }
}
