@import "fonts";
@import "navigation";
@import "footer";
@import "socialmedia";
@import "form";
@import "gridabout";

header {
    text-align: center;
    margin-bottom: 0;
}

button.presskit {
    background-color: $secondary-color;
    color: white;
}

button.donate {
    color: white;
    background-color: #4fcc6b;
}

.submit-button {
    color: white;
    background-color: #4fcc6b;
}
