@import "fonts";
@import "navigation";
@import "footer";
@import "socialmedia";
@import "form";
@import "gridabout";

header {
    text-align: center;
    margin-bottom: 0;
}

button.presskit {
    background-color: $secondary-color;
    color: white;
    margin-bottom: 68px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 900;
    cursor: pointer;
    border: solid 1px #82c110;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

button.presskit:hover,
button.presskit:focus,
button.presskit:active {
    background-color: #4fcc6b;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffffff;
    outline: none;
    border: 0;
}

button.donate {
    color: white;
    background-color: #4fcc6b;
    margin-bottom: 68px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 900;
    cursor: pointer;
    border: solid 1px #82c110;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

button.donate:hover,
button.donate:focus,
button.donate:active {
    background-color: #196cff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffffff;
    outline: none;
    border: 0;
}

.submit-button {
    color: white;
    background-color: #4fcc6b;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    font-weight: 900;
    cursor: pointer;
    border: solid 1px #82c110;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.submit-button:hover,
.submit-button:focus,
.submit-button:active {
    background-color: #196cff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffffff;
    outline: none;
    border: 0;
}

.dwain {
    margin-top: 205px;
}

main {
    float: left;
}

aside {
    float: right;
}
