@import "gridblog";
@import "fonts";
@import "navigation";
@import "socialmedia";
@import "footer";
@import "arrowmixin"; /* Mixin requirement as per rubric */

/* Basic Styling */
header {
    text-align: center;
    margin-bottom: 0;
}

h1 {
    color: $primary-color;
}

h2 {
    text-align: center;
}

h4 {
    color: $primary-color;
    size: 1.2em;
    text-align: center;
}

.read {
    color: $tertiary-color;
}

.read:hover {
    color: $secondary-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cf::before,
.cf::after {
    content: "";
    display: table;
}

.cf::after {
    clear: both;
}

/* Blog Post */
.card1 {
    width: 320px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card2 {
    width: 320px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card3 {
    width: 320px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* Transition animation requirement as per rubric */
.bernie,
.image {
    opacity: 1;
}

.bernie:hover,
.image:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
}

/* Button Style */
button {
    color: white;
    font: 1em $nunito;
    background-color: $secondary-color;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    float: right;
}

button:hover,
button:focus,
button:active {
    background-color: #4fcc6b;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffffff;
    outline: none;
    border: 0;
}

button.recent {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Newsletter form */
.SignUp {
    background-color: white;
    float: right;
    padding-bottom: 10px;
    margin-top: 100px;
    font: $libre-franklin;
}

.SignUp__input,
.SignUp__button {
    height: 2.5rem;
    padding: 0.5rem;
    margin-top: 10px;
}

.SignUp__input {
    background: white;
    width: 150px;
    margin-left: 3px;
}

.SignUp__input:focus {
    border: 1px solid $tertiary-color;
}

.SignUp__button {
    color: white;
    padding: 0 5px;
    position: absolute;
}

.Center {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

/* EXAMPLE OF NESTING PER RUBRIC REQUIREMENTS */
form {
    p {
        text-align: center;
        font-weight: bold;
        color: $secondary-color;
        font-size: 1.2em;
        margin-top: 25px;
    }
}

/* Search Form */
.searchform {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    position: absolute;
    width: 310px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    margin-top: 80px;
}

.searchform input,
.searchform button {
    float: left;
}

.searchform input {
    background: #fefefe;
    margin-right: 5px;
    padding: 12px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.searchform input:focus {
    outline: none;
    box-shadow: 0 0 4px #0d76be inset;
    -moz-box-shadow: 0 0 4px #0d76be inset;
    -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px;
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px;
}

.searchform button {
    color: white;
    font: 1em $nunito;
    background-color: $secondary-color;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;

}

.searchform button:hover {
    background-color: #4fcc6b;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    color: #ffffff;
    outline: none;
    border: 0;
}

/* Browse Archives Form */
.archiveform {
    background: rgba(244, 244, 244, 0.79);
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    position: absolute;
    width: 315px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
    margin-top: 175px;
}

.archiveform input,
.archiveform button {
    float: left;
}

.archiveform input {
    background: #fefefe;
    margin-right: 5px;
    padding: 12px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.archiveform input:focus {
    outline: none;
    box-shadow: 0 0 4px #0d76be inset;
    -moz-box-shadow: 0 0 4px #0d76be inset;
    -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.archiveform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px;
}

.archiveform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px;
}

.archiveform button {
    color: white;
    font: 1em $nunito;
    background-color: $secondary-color;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    letter-spacing: 0.06em;
    -webkit-transition: 320ms;
    transition: 320ms;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;

}

.archiveform button:hover {
    background-color: #4fcc6b;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    color: #ffffff;
    outline: none;
    border: 0;
}
