@import "fonts";
@import "navigation";
@import "donate";
@import "grid";
@import "socialmedia";
@import "footer";
@import "donateanimate";

header {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.donate-wrapper {
    display: inline-table;
    position: relative;
    width: 117%;
}
